@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap');

:root {
    --primary-light-cyan: hsl(193, 38%, 86%);
    --primary-neon-green: hsl(150, 100%, 66%);
    --grayish-blue: hsl(217, 19%, 38%);
    --neutral-dark-grayish-blue: hsl(217, 19%, 24%);
    --neutral-dark-blue: hsl(218, 23%, 16%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

html,
body {
    height: 100vh;
    background-color: var(--neutral-dark-blue);
}

.container {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.advice-box {
    width: 30rem;
    min-height: 18rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: .5rem 0;
    position: relative;
    background-color: var(--neutral-dark-grayish-blue);
    border-radius: 1rem;
}
.advice-box h6 {
    color: var(--primary-neon-green);
    font-size: .65rem;
    letter-spacing: .2rem;
}

.advice-box p {
    padding: 1rem;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    color: var(--primary-light-cyan);
}

.advice-box div {
    width: 80%;
    height: 1rem;
    background-image: url(../images/pattern-divider-desktop.svg);
    background-position: center;
    margin-bottom: 2rem;
}

.advice-box span {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-neon-green);
    border-radius: 50%;
    position: absolute;
    bottom: -2rem;
    transition: box-shadow .1s ease-in-out;
    cursor: pointer;
}

.advice-box span:hover {
    box-shadow: 0 0 3rem var(--primary-neon-green);
}
